:root{
    --textColor: #333;
    --background: #f3f2f4;
    --linkPseudoColor: #dbcdcd;
    --greyedColor: #656;
    --brandColor: #21349D;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--textColor);
    background: var(--background);
}

button{
    cursor: pointer;
}

/* Header Styling */
header{
    background-image: url(common-bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.header{
    background: #21349D99;
    padding: 1rem 1.2rem;
    color: var(--background);
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    letter-spacing: 2px;
}

.logoContainer{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.avatar{
    width: 45px;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 50%;
    outline: var(--background) solid 4px;
    outline-offset: 4px;
    cursor: pointer;
}

#avatar{
    display: none;
    background-color: #333333AA;
}

#avatar img{
    width: min(80%, 480px);
}

.closebtn{
    color: #f3f3f3;
    font-size: large;
}
  
  #avatar:target {
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* Additional styles for the full-screen image */
  }
  

.logo{
    padding: 0;
    text-transform: uppercase;
    cursor: pointer;
    /* font-size: 1.5rem; */
}

.navbar{
    margin-left: auto;
}


.navbar ul{
    display: flex;
    list-style: none;
    gap: 3rem;
    padding: 0;
    align-items: center;
    justify-content: center;
}

.navbar a{
    color: var(--background);
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar a:hover{
    color: var(--linkPseudoColor);
    text-decoration: underline;
}

.introduction{
    font-size: 2rem;
    width: min(1200px, 100%);
    /* background-color: red; */
    display: flex;
    gap: 3rem;
    padding: 3rem;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
    flex-wrap: wrap;
    text-shadow: #333 1.5px 1px;
}

.introduction-text{
    width: min(480px, 100%);
    line-height: 250%;
}

.name{
    font-size: 4rem;
    font-weight: 600;
}

.role{
    font-size: 2.5rem;
    font-weight: 600;
}

.hero--image{
    width: min(480px, 100%);
    border-radius: .5rem;
    aspect-ratio: 4/3;
    object-fit: cover;
}

form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    margin: 2rem auto;
    width: min(80%, 480px);
}

form .btn, form input{
    padding: 1.2rem;
    font-size: 1.2rem;
    border-radius: .25rem;
}

form input{
    border: #21349D 2px solid;
    background: none;
}

form .btn{
    font-weight: bold;
    background: var(--brandColor);
    color: var(--background);
    border: none;
}

form h2{
    grid-column: span 2;
    text-align: center;
}

@media screen and (max-width: 550px) {
    form .btn, form input{
        grid-column: span 2;
    }
}
